.breadcrumb{
	&-list{
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		&__item{
			display: flex;
			align-items: center;
			&::after{
				content: '';
				display: block;
				width: 10px;
				height: 1px;
				background-color: #000;
				margin: 0 10px;
			}
			&:last-child{
				&::after{
					display: none;
				}
			}
		}
		&__link{
			text-decoration: none;
			color: #000;
		}
	}
}